*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  min-height:100vh;
}
ul ,li{
  list-style: none;
}
a{
  text-decoration: none;
}
header{
  z-index: 999;
  position:sticky;
  top:0;
  left:0;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px 100px;
  transition: 0.3s;
}
header.sticky{
  background-color: #fff;
  -webkit-box-shadow: 0 10px 10px -10px rgb(33 43 53 / 10%);
  box-shadow: 0 10px 10px -10px rgb;
  
}
.nav-item{
  padding: 0 20px;
}
.nav-item a{
  font-size: 18px;
  font-weight: 300;
  color: #777D87
}
.hire-btn button {
  border: none;
  padding: 10px 35px;
  border-radius: 30px;
  background-color: #FFDC5E;
  text-transform: uppercase; 
  
  font-weight: 500;
  letter-spacing: 1px;
}
.hire-btn button a{
  color: #3f4941;
}
.hire-btn button:hover{
  background-color: #3DA153;
  
}
.hire-btn button a:hover{
  color: #fff;
}
/* Hero-section */
.hero-section{
  background-image: url(../img/hero-blur-shape.png);
  background-repeat: no-repeat;
  padding-top: 180px;
}
.hero-subtitle{
  font-size: 24px;
  line-height: 1.6em;
  letter-spacing: 2px;
  margin-bottom: 15px
}
.hero-title h1{
  font-size: 70px;
  line-height: 1.18em;
  margin-bottom: 40px
}
.text-color{
  color:#3DA153;
}
.about-btn button{
  border: none;
  padding: 10px 35px;
  border-radius: 30px;
  background-color: #3DA153;
  text-transform: uppercase; 
  color: #3f4941;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.about-btn button:hover{
  background-color: rgba(61, 161, 83, 0.1);
  color: #3DA153;
}
.play-btn i{
  background: #FFDC5E;
  color:#3DA153;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
.nested-container{
  margin-left:80px;
}
/* Service Section */

.service-section{
  background: url(../img/icon-box-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding:100px 0;
}

.service-subtitle{
  font-size: 18px;
  color: #777D87;
}
.service-title h2{
  font-size: 48px;
  color: #3f4941;
  line-height: 1.17em;

}
.service-box{
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 60px 0px rgb(9 33 14 / 15%);
  transition: all 0.6s;
}
.service-box:hover{
  background-image: linear-gradient(0deg, #ffdc5e -45%, #3da153 85%);
  color: #fff;
  border-radius: 15px;
}
.icon-box{
background: url(../img/iconbox-shape1.svg);
padding: 65px 0;
background-repeat: no-repeat;
background-position-x: -25px;
background-position-y: -25px;
}
.icon-c{
  color: #fff;
  font-size: 60px;
  margin-top: -40px;
  margin-left: 30px;
}

/* portfolio section */
.portfolio-section{
  padding: 80px 0;
}
.portfolio-subtitle{
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #777D87;
}
.portfolio-title h1{
  line-height: 1.17em;
  color: #3f4941;
  font-size: 48px;
}
.portfolio-btn{
  margin-top: 20px;
}
.portfolio-btn button{
  background-color: #3da153;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.6s;
}
.portfolio-btn button:hover{
  background-color: rgba(61, 161, 83, 0.1);
  color: #3DA153;
}
.portfolio-section .owl-theme .owl-dots, .owl-theme .owl-nav{
	display: none !important;
}
.portfolio-section .owl-theme .owl-nav {
  display: block !important;
  position: absolute;
  right: 0;
}
.portfolio-section .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  border: none;
  padding: 0!important;
  font-size: 35px;
}
.portfolio-section .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot span{
width: 40px;
  background: #F7F8F0 !important;
  height: 40px;
  line-height: 40px;
}
/* Testimonial Section */
.testimonial-section{
  background: url(../img/testimonial-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.testimonial-section{
	width: 100%;
	padding:60px 0;
}
.img-left{
	position: relative;
}
.img-left img{
	position: absolute;
    left: -120px;
    top: 75px;
}
.testimonial-section h1{
	color: #242f51;
	font-size: 40px;
	font-weight: 600;
}
.testimonial-section p{
	font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin: 30px 0;
    color: #616368;
}
.testimonial-section ul{
	padding: 0;
}
.testimonial-section li{
	display: inline-block;
	color: #ffcc00;
	margin-right: 10px;
}
.client-img {
	display: flex;
}
.client-img img{
	width: 100px;
}
.img-title{
	margin-left: 30px;
	width: 30%;
	margin-top: 30px;
}
.img-title p{
	margin: 0;
}
.testimonial-section .owl-item img {
    width: auto !important;
 }
.testimonial-section .owl-theme .owl-dots, .owl-theme .owl-nav{
	display: none !important;
}
 .testimonial-section .owl-theme .owl-nav {
    display: none !important;
    position: absolute;
    right: 0;
}
.testimonial-box{
  padding: 40px 45px 50px;
    background-color: #fff;
    border-radius: 15px 15px 15px 0;
    -webkit-box-shadow: 0px 10px 150px 0px rgb(1 0 98 / 10%);
    box-shadow: 0px 10px 150px 0px rgb(1 0 98 / 10%);
}

.cs-cta.cs-style5 {
  margin-top: 9.5%;
}
.cs-bg {
  background-image: url(../img/cta-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cs-height_30 {
  height: 30px;
}
.cs-left_full_width {
  height: 100%;
  width: 50vw;
  margin-left: calc(-50vw + 102.7%);
  text-align: center;
}
.cs-cta.cs-style5 .cs-cta_img {
  margin-top: -19%;
}
.cs-cta.cs-style5 .cs-cta_title {
  font-size: 64px;
  line-height: 1.14em;
  margin-bottom: 20px;
}
.cs-cta.cs-style5 .cs-cta_info {
  padding: 60px 0;
}
.cs-cta.cs-style5 .cs-cta_subtitle {
  margin-bottom: 35px;
}
.cs-cta.cs-style5 .cs-cta_title {
    font-size: 64px;
    line-height: 1.14em;
    margin-bottom: 20px;
}
.cs-accent_color{
  color: #3da153;
}
.cs-accent_color_2{
  color: #ffdc5e;
}
.cs-with_bar {
  position: relative;
}
.cs-with_bar svg {
  position: absolute;
  bottom: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.cs-btn.cs-style6.cs-btn_lg {
  min-width: 210px;
  font-size: 111%;
}
.cs-rounded {
  border-radius: 2em !important;
}
.cs-medium {
  font-weight: 500;
}
.cs-white,.cs-white_hover:hover {
  color: #fff;
}
.text-uppercase {
  text-transform: uppercase!important;
}
.cs-accent_bg{
  background-color: #3da153;
}
.cs-accent_border{
  border-color: #3da153;
}
.cs-btn, .cs-toolbox_btn {
  letter-spacing: 1px;
}
.cs-btn.cs-style6 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.6em;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-width: 1px;
  border-style: solid;
}
.cs-btn.cs-style6.cs-btn_lg .cs-btn_text {
  padding: 13px 30px;
}
.accent_40_border_hover:hover {
  border-color: rgba(61, 161, 83, 0.4);
}
.cs-accent_10_bg_hover:hover {
  background-color: rgba(61, 161, 83, 0.1);
}
.cs-btn_text:hover{
  color:#3DA153;
}

/* Footer */
footer{
  padding:80px 0;
}
.cs-footer{
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cs-footer.cs-style3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4em;
}
.cs-footer_item {
  margin-bottom: 30px;
}
.cs-footer.cs-style3 ul li{
  color:#77787D;
}
.cs-footer.cs-style3 ul li:not(:last-child) {
  margin-bottom: 8px;
}
.cs-footer.cs-style3 ul li i {
  font-size: 16px;
  margin-right: 12px;
}
.cs-footer.cs-style3 .menu a:before {
  content: "\f105\f105";
  font-weight: 900;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
  overflow: hidden;
  width: 8px;
  display: inline-block;
  line-height: 16px;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cs-footer.cs-style3 .cs-widget_title {
  font-size: 24px;
  margin-bottom: 35px;
}
.cs-footer.cs-style3 .menu a {
  display: inline-block;
  position: relative;
  color:#77787D;
  transition: all 0.3s ease;
}

.cs-footer.cs-style3 .cs-footer_newsletter.cs-style1 {
  padding-top: 7px;
}
.cs-footer_newsletter.cs-style1 .cs-footer_newsletter_form {
  max-width: 500px;
  margin: auto;
  width: 100%;
  position: relative;
}
.cs-footer.cs-style3 .cs-footer_newsletter.cs-style1 .cs-footer_newsletter_input {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 10px 40px 0px rgb(10 44 17 / 10%);
  box-shadow: 0px 10px 40px 0px rgb(10 44 17 / 10%);
  border-radius: 3px;
  height: 45px;
  border:none;
}
.cs-footer.cs-style3 .cs-footer_newsletter.cs-style1 .cs-footer_newsletter_btn {
  width: 75px;
  height: 45px;
  top: 0;
  right: 82px;
  
  border-radius: 23px 3px 3px 23px;
  cursor: pointer;
  padding: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cs-footer_newsletter.cs-style1 .cs-footer_newsletter_btn {
  position: absolute;
  border: none;
  width: 65px;
  height: 40px;
  top: 5px;
  right: 5px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cs-footer_newsletter.cs-style1 .cs-footer_newsletter_input:focus {
  outline: none;
}
.cs-footer.cs-style3 .cs-social_btns.cs-style1 {
  padding-top: 7px;
  
}
.cs-footer.cs-style3 .cs-social_btns.cs-style1 a {
  border-radius: 50%;
  margin-right: 10px;
  background-color: transparent;
  color: #b1aa90;
  margin-right: 30px;
  font-size: 20px;
}
.cs-footer.cs-style3 .cs-social_btns.cs-style1 a:hover{
  color: #3DA153;
}


.cs-contact.cs-style2 {
  display: flex;
}
.cs-contact.cs-style2 .cs-contact_left {
  width: 35%;
  padding: 90px 35px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.cs-contact.cs-style2 .cs-contact_left:before {
  right: -60px;
  top: -50px;
  background: linear-gradient(-5deg, transparent 0%, #fff 100%);
  opacity: 0.25;
}
.cs-contact.cs-style2 .cs-contact_left:after, .cs-contact.cs-style2 .cs-contact_left:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.cs-contact.cs-style2 .cs-contact_info_wrap
{
  position: relative;
  z-index: 2;
}
.cs-semi_bold {
  font-weight: 600;
}
.cs-mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cs-contact.cs-style2 .cs-contact_info li {
  position: relative;
  padding-left: 38px;
}
.cs-contact.cs-style2 .cs-contact_info li:not(:last-child) {
  margin-bottom: 25px;
}
.cs-contact.cs-style2 .cs-contact_info li i {
  position: absolute;
  left: 0;
  top: 6px;
}
.contact.cs-style2 .cs-social_btns_wrap {
  position: relative;
  z-index: 2;
}
.cs-contact.cs-style2 .cs-social_btns.cs-style1 {
  margin-top: 20px;
}
.cs-social_btns.cs-style1 {
  
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.cs-social_btns.cs-style1 a {
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  color: #fff;
}
.cs-social_btns.cs-style1 a:hover{
  color: #FFDC5E;
}
.cs-contact.cs-style2 .cs-social_btns.cs-style1 a:not(:last-child) {
  margin-right: 25px;
}

.cs-contact.cs-style2 .cs-contact_right {
  width: 65%;
  padding: 90px 60px 90px;
}
contact.cs-style2 .cs-contact_left:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.cs-accent_10_bg{
  background-color: rgba(61, 161, 83, 0.1);
}
.cs-row_gap_20 {
  margin-left: -10px;
  margin-right: -10px;
}
.cs-row_gap_20 > div {
  padding-left: 10px;
  padding-right: 10px;
}
.cs-accent_30_border{
  border-color: rgba(61, 161, 83, 0.3);
}
.cs-semi_bold {
  font-weight: 600;
}
.cs-form_field {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cs-white_bg{
  background-color: #fff;
}
.cs-form_field:focus {
  outline: none;
}
.cs-btn.cs-style6 .cs-btn_text {
  display: inline-flex;
  padding: 10px 30px;
}
/* Responsive */
@media only screen and (max-width: 600px) {
  header{
    padding: 0;
  }
  .nested-container{
    margin-left: 0;
  }
  .hero-subtitle{
    font-size: 18px;
  }
  .hero-title h1{
    font-size: 48px;
  }
  .service-title h2{
    font-size: 30px;
    font-weight: 400;
  }
  .hire-btn{
    display:none;
  }
}
@media screen and (max-width: 991px){
.cs-left_full_width {
    width: 100%;
    margin-left: 0;
}
.cs-height_lg_80 {
  height: 80px;
}
.cs-contact.cs-style2 .cs-contact_right {
  padding: 55px 30px 60px;
}
.cs-contact.cs-style2 .cs-contact_left, .cs-contact.cs-style2 .cs-contact_right {
  width: 100%;
}
.cs-contact.cs-style2 {
  flex-direction: column-reverse;
}
.cs-height_lg_10 {
  height: 10px;
}
.cs-height_lg_20 {
  height: 20px;
}
}
@media screen and (min-width: 992px){
.cs-height_20 {
    height: 20px;
}
.cs-height_140 {
  height: 140px;
}
}

